
h1{
    text-align: center;
    text-decoration: underline;
    font-family: cambria;
    font-size: 38px;
    margin-left: 10px;
    color: white;
           
}

body{
    background-image: url(/assets/background.png);
    background-size: 100%;
}

h3{
    margin-left: 7rem;
    color: #ffffff;
    font-family: times;
    font-size: 1.5rem;  
    font-size: 1.17em;   
    font-weight: bold;
}

p {
    font-family: Arial;
    font-size: 16px;
    margin-left: 30px;
}


.faixa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #639C9D;
}

.texto{
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}
      
.topico{
    color: #ffffff;
    font-family: Times;
    font-size: 24px;
}

.margem {
    width: 500px;
    height: 320px;
    margin-right: 20px;
}

#recuo{
    margin-left: 250px;
}

#icon{
    width: 200px;
    height: 200px;
    
}

#atent{
    color: #EB1D36;
    text-decoration: underline;
}

li{
    display: inline-block;
}

h4{

color: #ffffff;
text-align: right;
font-family: Times New Roman;
font-size: 24px;
}

#alinhar{

margin-left: 550px;
width: 500px;
height: 320px;


}

.espacoTexto{

margin-top: -50px;


}

