h1{
    text-align: left;
    font-family: arial;
    font-size: 24px;
    color: white;
           
}

body{
background-image: url(/assets/background.png);
background-size: 100%;

}



    
      
