body {
    margin-bottom: 50px;
}
h1 {
    font-size: 38px;
    margin-left: 10px;
    }

p {
    font-family: Arial;
    font-size: 16px;
    margin-left: 10px;
}

img {
    width: 500px;
    height: 320px;
    margin-top: 5px;
}

#margem {
    margin-left: 250px;
}